
NET "clock" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

NET "led0" LOC = "F12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led1" LOC = "E12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led2" LOC = "E11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led3" LOC = "F11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led4" LOC = "C11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led5" LOC = "D11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led6" LOC = "E9" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
NET "led7" LOC = "F9" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
